* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 12px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
