// Variables
// ====================================================

// Colors

$color-primary: #FFD527;
$color-warning: #E85050;
$color-assist: #A46D59;

$color-black: #222;
$color-dark: #000;
$color-gray: #999;

// Fonts
$baseFontSize: 75; // px
